 body{
            background-color: #e6fffa;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .sign-up{
           background-color: aliceblue;
           padding: 20px;
           margin: 30px;
           max-width: 400px;
           width: 100%;
           padding: 30px;
           border-radius: 10px;
           border: 3px solid #00bfa6;
           box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
        }

        .sign-up h1{
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
            color: #024b45;

        }

        .fields{
            margin-bottom: 15px;
        }

        .fields label{
            display: flex;
            font-size: 20px;
            margin-bottom: 10px;
            color:#024b45;
        }

        .fields input{
            width: 90%;
            padding: 10px;
            border: 3px solid #a0f0e8;
            border-radius: 5px;
            font-size: 15px;
            outline: none;
            transition: 0.3s ease;
        }
        
        .fields input:hover {
            border-color: #00bfa6;
            box-shadow: 0 0 5px rgba(0, 191, 166, 0.5);
        }

        .fields select{
            width: 90%;
            padding: 10px;
            border: 3px solid #a0f0e8;
            border-radius: 5px;
            font-size: 15px;
            transition: 0.3s ease;
        }

        .fields select:hover {
            border-color: #00bfa6;
            box-shadow: 0 0 5px rgba(0, 191, 166, 0.5);
        }

        .button{
            width: 90%;
            background-color: #00bfa6;
            color: white;
            padding: 12px;
            border: none;
            border-radius: 6px;
            font-size: 18px;
            cursor: pointer;
            transition: 0.3s ease;
        }

        .button:hover {
            background-color: #479c91;
            box-shadow: 0px 4px 10px rgba(0, 191, 166, 0.3);
        }

        .log-in{
            margin-top: 20px;
            text-align: center;
            font-size: 15px;
            color: #024b45;
        }

        .log-in a{
            color: #00bfa6;
            text-decoration: none;
            font-weight: bold;
            transition: 0.3s ease;
        }

        .log-in a:hover{
            text-decoration: underline;
            color: #009c88;
        }

        /* Error */
        .error{
            color: red;
        }